/* 
Why is there a scroll bar?
How to make app-container height be the maximum, 
and everything else should be contained inside
*/

#app-container {
    height: 100%;
    width: 100%;
}

#control-navbar {
    background-color: lightcoral;
    text-align: center;
    margin-bottom: 1vw;
    padding: 0.5vw;
}

#bar-container {
    /*Uses flexbox for vertical alignment, 
    flex-end aligns divs to bottom of parent*/
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
}

/* Should be implemented dynamically*/
.array-bar {
    background-color: gray;
}

.checking-bar {
    background-color: purple;
}

.swapping-bar {
    background-color: hotpink;
}

.sorted-bar {
    background-color: green;
}