/* 
Why is there a scroll bar?
How to make app-container height be the maximum, 
and everything else should be contained inside
*/

body {
    background-color: black;
}

#app-container {
    height: 100%;
    width: 100%;
}

#control-navbar {
    background-color: darkgrey;
    text-align: center;
    font-size: 16px;
    margin-bottom: 1vw;
    padding: 0.5vw;
    display: flex;
}

#button-container {
    flex: 1;
}

#array-controls {
    flex: 1;
}

#bar-container {
    /*Uses flexbox for vertical alignment, 
    flex-end aligns divs to bottom of parent*/
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 92.5%;
}

/* Should be implemented dynamically*/
.array-bar {
    background-color: darkslategray;
}

.checking-bar {
    background-color: orange;
}

.swapping-bar {
    background-color: rebeccapurple;
}

.sorted-bar {
    background-color: green;
}